.banner {
    min-height: 315px;
    @include gradient-directional($start-color: $gradient-primary-start, $end-color: $gradient-primary-end, $deg: 180deg);
    &-nav {
        padding-top: 136px; 
        @include breakpoint(isMobile){
            text-align: center;

        }
    }
    &-items {
        position: relative;
        @include clearfix;
        @include breakpoint(isMobile){
            display: inline-block;

        }
    }
    &-item {
        text-align: center;
        float: left;
        margin-right: 0;
            width: 50%;
            height: 160px;
        @include breakpoint(x-small){
            margin-right:auto;
            width: auto;
            height: auto;
            
        }
        @include breakpoint(x-small){
            &:not(:last-child) {
                margin-right: 40px;
            }
            
        }
        
        a {
            position: relative;
            display: inline-block;
            text-align: center;
            
            &::after  {

                content: "";
                display: block;
                position: absolute;
                left:0;
                bottom: -35px;
                @include breakpoint(isMobile){
                    bottom: -25px;
                    
                }
                height: 5px;
                width: 0;
                border: 20px;
                background-color: $secondary-base;  
                opacity: 0;
                width:0;
                @include trans();
            }
        }
        &.is-active,
        &:hover,
        &:focus {
            a{
                &::after  { 
                    opacity: 1;
                    width:100%; 
                }
            }
            .banner--icon {
                background-color: $secondary-base;
                border-color: $primary-base;
                &::before {
                    opacity: 1;
                }
            }
            .banner--text {
                color: $text2-color;
                &::before {
                    opacity: 1;
                }
            }
        }
    }
    &--icon {
        position: relative;
        margin-left:  auto;
        margin-right:  auto;
        background-color: $primary-base;
        height: 60px;
        width: 60px;
        display: block;
        border: 5px solid;
        border-color: transparent;
        border-radius: 50%;
        color: $text2-color;
        font-size: 22px;
        padding-top: 12px; 
        margin-bottom: 22px;
        @include trans();
        &::before {
            content: '';
            background: url('/assets/images/icons/Loading.svg') no-repeat center;
            display: block;
            position: absolute;
            top: -15px;
            left: -15px;
            width: 80px;
            height: 80px;
            animation: spin 10.5s linear 0s infinite normal none running;
            opacity: 0;
            @include trans();
        }
    }
    &--text {
        color: $primary-light;
        position: relative;
        line-height: rem(19);
        font-size: rem(16);
        text-transform: capitalize;
        font-weight: 500;
        @include trans();
        &::before {
            content: "\f0d7";
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            font-family: $fa;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            opacity: 0;
            font-weight: 900;
            @include trans();
        }
    }
}

@include keyframes(spin) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}