.card {
    font-family: Roboto;
    width: 100%;
    position: relative;
    
    @include breakpoint(small){
        height: rem(200);

    }
    @include breakpoint(mid){
        height: rem(320);

    }
    margin-bottom: 55px;
    &-cover {
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            @include transition(transform 0.15s ease 0s);
            @include transform( scale3d(1, 1, 1));
        }
        
             
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            opacity: .8;  
            @include transition(background-color 0.15s,opacity 0.3s ease 0s);//$property: background-color opacity 
        } 
    }
    &-content {
        display: block;
        width: calc(100% - #{rem(50)});
        position: absolute;
        bottom: rem(25);
        left: rem(25);
    }
    &-offers {

        background-color: #f1cb0c;
        text-align: center;
        display: block;
        width: rem(55);
        height: rem(24);
        margin-bottom: 10px;
        color: $text2-color;
    }
    &-title {
        font-size: rem(18);
        line-height: rem(22);
        color: $text2-color;
        font-weight: 500;
//         text-overflow: ellipsis;
//   /* Required for text-overflow to do anything */
//   white-space: nowrap;
//   overflow: hidden;

    }


    &:hover,
    &:focus{
        .card-cover{
            &:after {  
                opacity: 1;
               background-color: rgba(0, 0, 0, 0.5); 
               
           }
            img{
                
                @include transform( scale3d(1.1, 1.1, 1.1));
            }
        } 
        .card-title {
            color: $link-hover-color;
        }
    }
}