.fastSearch {
    width: 300px;
    padding-top: 20px;
      
    @include breakpoint(x-small){
        width: 340px;
    }
    @include breakpoint(isMobile){
        margin: 0 auto 30px;
        
    }
    .fastSearch-tabs {
        margin-bottom: 10px;
        border-bottom: none;
        &>li {
            width: calc(100% / 3);
            text-align: center;
            &>a {
                color: #9cbdef;
                font-size: rem(14);
                line-height: rem(18);
                @include trans();
                @at-root .fastSearch-tabs>li.active>a,
                &:hover,
                &:focus {
                    text-decoration: none;
                    background-color: transparent;
                    border-color: transparent;
                    color: $text-color;
                    font-weight: 500;
                }
            }
        }
    }
    .tab-pane {
        position: relative;
        background-color: $section-bg; 
        &:after {
            bottom: 100%;
            left: 15%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: transparent;
            border-bottom-color: $section-bg;
            border-width: 14px;
            margin-left: -14px;
        }
        &.tab-pane2.active:after {
            left: 50%;
        }
        &.tab-pane3.active:after {
            left: 85%;
        }
    }
    &-row {
        @include clearfix;
    }
    &-operation {
        position: relative;
        display: inline-block;
        padding: 30px 20px;
        width: 50%;
        height: 80px;
        float: left;
        border-bottom: 2px solid $body-bg;
        color: $text-color;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-overflow: ellipsis;
        white-space: nowrap; 

        &:nth-child(n+1){
            border-right: 2px solid $body-bg;
        }
        &:hover,
        &:focus {
            color: $text-color;
        }
        >.icon {
            font-size: 16px;
            vertical-align: middle;
            margin-right: 5px;
        }
        &.is-active {
            .icon {
                color: #166bff;
            }
        } 
        &.is-disable {
           opacity: .3;
        }
    }
    &-round {
        position: absolute;
        top: 50%;
        left: 100%;
        height: 24px;
        width: 24px;
        transform: translate(-50% , -50%);
        font-size: 12px;
        text-align: center;
        color: #166bff;
        display: inline-block;
        background-color:  $body-bg;
        padding-top: 6px;
        border-radius: 50%;

    }

    &-search{
            width: 100%;
            font-size: rem(18);
            line-height: 22px; 
        font-family: Roboto;
        text-transform: uppercase;
        padding-top: 30px;
        padding-bottom: 30px;
        >.icon{
            font-size: 17px;
            margin-right: 15px;
            vertical-align: middle;
        }

    }
}