.header{
    @include clearfix;
    @include gradient-directional($start-color: rgba($gradient-primary-start,0), $end-color: rgba($gradient-primary-end,0), $deg: 180deg);
    @include trans();

    @include breakpoint(isMobile){
        .container{
            padding:0;
        }
    }
    &.sticky_header{
        @include gradient-directional($start-color: rgba($gradient-primary-start,1), $end-color: rgba($gradient-primary-end,1), $deg: 180deg);
    }
    &-content{
        padding-top: 20px;
    }
    &-signIn{
        background-color: #f1b40c ;
        border-color:#f1b40c ;
        text-transform: uppercase;
        margin-top: 9px; 
        margin-left: 15px;
        float: right;
    }
    &-toggle{
        color:$text2-color;
        cursor: pointer;
    } 
}
