// $menuHover: #74A7D3;
// $primary-darker
.menu{
    @include breakpoint(isMobile){
        background-color: darken($secondary-base,10%); 
    }
    &-items{
        @include breakpoint(isMobile){
            direction: rtl;
            .dropdown-menu{
                text-align: right;
                margin-#{$right}: 20px;
            }
        }
        @include breakpoint(small){
            margin-left: rem(35);
        }
       
    }
    &-nationalFlag{
        display: inline-block;
        width: 16px;
        height: 10px;
        vertical-align: middle;
        margin-#{$right}: 6px;
        @include breakpoint(isMobile){ 
            
            margin-#{$left}: 10px;

        }
    }
    &--icon{
        display: none;
        font-size: 20px;
        margin-left: 10px;
        vertical-align: middle;
        @include breakpoint(isMobile){
            display: inline-block;
        }
    }
    &-item{
       padding-left: 20px;
       padding-right: 20px;
       @include breakpoint(isMobile){
        border-bottom: 1px solid  darken($secondary-base,12%);
        
        &.is-active{
            background-color: darken($secondary-base,12%);
            > a {
                font-size:16px ;
                font-weight: 600;
                .menu--icon{
                    color: $primary-base;
                }
            }
        }
    }
       &.open{

        @include breakpoint(isMobile){
            background-color: rgba(0,0,0,.3);
        }
       }

        > a {
            font-size:12px ;
            font-weight: 500; 
            text-transform: capitalize;
            padding-left: 0 !important;
            padding-right: 0  !important;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px transparent;
            background-color: transparent !important;  
            position: relative;
            overflow: hidden;
            @include breakpoint(isMobile){
                font-size:16px ;
                padding: 15px !important;
            }
            &:before {
                @include breakpoint(mid){
                    content: "";
                    position: absolute;
                    z-index: -1;
                    #{$right}: 100%;
                    #{$left}: 0;
                    bottom: 0;
                    background: $menuHover;
                    height: 4px;
                    -webkit-transition-property: $right;
                    transition-property: $right;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                } 
            }

            &:hover,
            &:focus,
            &:active{
                &:before{
                    #{$right}: 0; 
                } 
                @include breakpoint(small){
                    color: $menuHover; 

                }   
            }
        }

        
    } 

    @at-root .navbar-nav > li >  .menu-subItems{
        #{$left}: 20px;
        >li{
            > a{
                padding: 10px 15px  !important;
                color: $text2-color;
                @include breakpoint(small){
                    color: $primary-darker;
                }
            }
        }

    }

    

    
    
}