.sampleGalley{

    &-time{
        color: $secondary-base;
        font-size: rem(18);
        line-height: rem(48);
        font-weight: 500;

    }

&-title{
    font-size: rem(36);
    line-height: rem(48);
    font-weight: 600;
    color: $text-color;
    max-width: 430px;

}

&-details{
    color: #303030;
    font-size: rem(12);
    line-height: rem(24); 
    margin-bottom: rem(56);

}

&-subTitle{
    width: rem(200);
    font-size: rem(18);
    line-height: rem(28);
    font-weight: 500;
    color: $text-color;
    margin-bottom: rem(20);
}

&-brief{
    font-size: rem(10);
    line-height: rem(18);
    font-weight: 500;
    color:#a7a7a7;
    margin-bottom: rem(20);
}


}
