﻿//
// Buttons
// --------------------------------------------------
// Base styles
// --------------------------------------------------
.btn {
    display: inline-block;
    margin: 0; // For input.btn
    font-weight: $btn-font-weight;
    vertical-align: middle;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; sbtn-outlineYellowee https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    white-space: nowrap;
    padding: rem(6) rem(16);
    font-size: rem(14);
    line-height: 18px;
    font-weight: 500;
    min-width: rem(50);
    @include user-select(none);
    -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    font-family: $font-family;
    color: #4a4a4a;
    border-radius: 2px;
    overflow: hidden;
    &:visited {
        color: #fff;
    }
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover {
        &:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            @include tab-focus;
        }
    }
    &:hover,
    &:focus,
    &.focus {
        color: $btn-default-color;
        text-decoration: none;
        border-color: $btn-default-color;
    }
    &:active,
    &.active {
        outline: 0;
        background-image: none;
        @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: $cursor-disabled;
        @include opacity(.3);
        @include box-shadow(none);
    } // [converter] extracted a& to a.btn
}

a.btn {
    &.disabled,
    fieldset[disabled] & {
        pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
}

input[type=button],
input[type=reset],
input[type=submit] {
    @extend .btn;
}

input[type=button].btn-primary,
input[type=reset].btn-primary,
input[type=submit].btn-primary {
    @extend .btn-primary;
}

input[type=button].btn-secondary,
input[type=reset].btn-secondary,
input[type=submit].btn-secondary {
    @extend .btn-secondary;
}

input[type=button].btn-Captcha,
input[type=reset].btn-Captcha,
input[type=submit].btn-Captcha {
    @extend .btn-Captcha;
}

// Alternate buttons
// --------------------------------------------------
.btn-default {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    color: $btn-primary-color;
    &:before {
        background: $secondary-base;
    }
}

.btn-secondary {
    @include button-variant(#fff, $secondary-base, $secondary-base);
    color: $text2-color;
    &:before {
        background: $primary-base;
    }
    &:visited {
        color: $primary-base;
    }
}

.btn-componentTitle {
    font-size: rem(15);
    display: inline-block;
    text-align: $left;
    padding: 0;
    .btn-arrow {
        fill: #6d6d6d;
        @if $right=="right" {
            //ar
        }
        @else {
            //en
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
    &,
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
        color: #4a4a4a !important;
        @include box-shadow(none);
    }
}

.btn-outline {
    position: relative;
    background-color: transparent;
    border: 1px solid transparent;
    color: #fff;
    >svg {
        height: 100%;
        #{$right}: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    rect {
        fill: none;
        stroke: #fff;
        stroke-width: 2;
        stroke-dasharray: 422, 0;
        -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:hover {
        background-color: rgba(#fff, 0.13);
        color: inherit;
        outline: none;
        border-color: transparent;
        rect {
            stroke-width: 5;
            stroke-dasharray: 15, 310;
            stroke-dashoffset: 38;
        }
    }
    &.btn-outlineYellow {
        color: #000;
        rect {
            stroke: #ffdc66;
        }
        span {
            color: #000;
        }
    }
}

.btn-fullWidth {
    width: 100%;
}

// Success appears as green
//.btn-success {
//  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
//}
//// Info appears as blue-green
//.btn-info {
//  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
//}
//// Warning appears as orange
//.btn-warning {
//  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
//}
//// Danger and error appear as red
//.btn-danger {
//  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
//}
// Link buttons
// -------------------------
// Make a button look and behave like a link
.btn-link {
    color: $text-color;
    border-color: $text-color;
    font-weight: normal;
    border-radius: 0;
    &,
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
        @include box-shadow(none);
    }
    &,
    &:hover,
    &:focus,
    &:active {
        border-color: transparent;
    }
    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
        background-color: transparent;
    }
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus {
            color: $btn-link-disabled-color;
            text-decoration: none;
        }
    }
}

// Make a button look and behave like a link with arrow
.btn-linkArrowRight {
    font-size: rem(12);
    color: #fff;
    display: block;
    padding: 0px;
    text-align: $left;
    &,
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
        @include box-shadow(none);
    }
    .btn-arrow {
        position: relative;
        float: #{$right};
        top: 5px;
        fill: white;
        margin: 0;
        @if $dir==ltr {
            @include rotate(-180);
        }
    }
}

// Button Sizes
// --------------------------------------------------
.btn-lg {
    // line-height: ensure even-numbered height of button next to large input
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}

.btn-sm {
    // line-height: ensure proper height of button next to small input
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}

.btn-xs {
    @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}

// Block button
// --------------------------------------------------
.btn-block {
    display: block;
    width: 100%;
}

// Vertically space out multiple block buttons
.btn-block+.btn-block {
    margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn-block {
        width: 100%;
    }
}

.btn-Captcha {
    color: #656565;
    text-decoration: underline;
    padding: 0;
    min-width: 10px;
    border: 0px;
    background-image: linear-gradient(transparent, transparent),
    url('#{$img-path}/ratingIcons/refresh.svg');
    width: 25px;
    height: 25px;
    position: absolute;
    #{$left}: 0;
    top: 0;
    border-radius: 0px;
    font-size: 0;
}