//* custom branding
//* Author  :: Ahmed elbaz
//* Data    :: 24-9-2017
//* LinkedIn:: in/elbazz
//* Mail    :: ahmed.elbazz.2010@gmail.com
// ==============================================================
// use this variable as default for left to right in english
    $left: left;
    $right: right;

    $dir : ltr;
    $dirInv :rtl ;

    $ltr: ltr;
    $rtl: rtl;

    $font-family : 'Montserrat', sans-serif;
    $font-secondary : 'Roboto', sans-serif; 

// change variable when dir is right to left in arabic 	
@if $lang == ar {
    $left: left;
    $right: right;
    
    $dir : rtl;
    $dirInv :ltr ;

    $ltr: rtl;
    $rtl: ltr;
    
    $font-family    : 'Cairo', sans-serif;
    $font-secondary : 'enNoto Sans';
 
}

// mixins for en or ar code 

@mixin setInArabic(){
       @if $lang == ar {
         @content;
       }
}
@mixin setInEnglish(){
       @if $lang == en {
         @content;
       }
}