.container {
    @include breakpoint(isTablet) {
        padding: 0px;
    }
    @include breakpoint(large) {
        width: 1220px;
    }
}

//==========> ahmed elbaz - 3-21-2018
svg.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.bestOffers-title {
    .icon {
        vertical-align: middle;
        width: 16px;
        height: 16px;
        background-color: #f1cb0c;
        display: inline-block;
        border-radius: 50%;
        margin-right: 8px;
    }
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: $text-color;
}