﻿@font-face {
   font-family: 'Montserrat';
   src: url('#{$font-path}/Montserrat/Montserrat-Regular.eot'); /* IE9 Compat Modes */
   src: url('#{$font-path}/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('#{$font-path}/Montserrat/Montserrat-Regular.woff') format('woff'),
        url('#{$font-path}/Montserrat/Montserrat-Regular.ttf')  format('truetype');
   font-weight: 400;
   font-style: normal;
}
@font-face {
     font-family: 'Montserrat';
     src: url('#{$font-path}/Montserrat/Montserrat-Medium.eot'); /* IE9 Compat Modes */
     src: url('#{$font-path}/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
          url('#{$font-path}/Montserrat/Montserrat-Medium.woff2') format('woff2'),
          url('#{$font-path}/Montserrat/Montserrat-Medium.woff') format('woff'),
          url('#{$font-path}/Montserrat/Montserrat-Medium.ttf')  format('truetype');
     font-weight: 500;
     font-style: normal;
 }

@font-face {
    font-family: 'Montserrat';
    src: url('#{$font-path}/Montserrat/Montserrat-SemiBold.eot');
    src: url('#{$font-path}/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
         url('#{$font-path}/Montserrat/Montserrat-SemiBold.woff') format('woff'), 
         url('#{$font-path}/Montserrat/Montserrat-SemiBold.ttf')  format('truetype'); 
    font-weight: 600;
    font-style: normal;
}


 @font-face {
     font-family: 'Roboto';
     src: url('#{$font-path}/Roboto/Roboto-Medium.eot');
     src: url('#{$font-path}/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
          url('#{$font-path}/Roboto/Roboto-Medium.woff2') format('woff2'),
          url('#{$font-path}/Roboto/Roboto-Medium.woff') format('woff'), 
          url('#{$font-path}/Roboto/Roboto-Medium.ttf')  format('truetype'); 
     font-weight: 500;
     font-style: normal;
 }