


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  margin-top: 0;
  small,
  .small {
	font-size: 65%;
    font-weight: normal;
    line-height: 1;
  }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }


// Body text
// -------------------------

a {
  color: $link-color;
  text-decoration: $link-hover-decoration;

  &:hover,
  &:focus  {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

}
.link-inherit{
	color:inherit;
}

.content {
	text-align	: justify;
	@include font-size(14px);
	line-height: $line-height; 
	color: $text-color;
}

// Alignment
.text-dir			  { text-align: #{$right}!important;  }
.text-dirInv          { text-align: #{$left}!important;  }
.text-center          { text-align: center; }
.text-justify         { text-align: justify; }
.text-nowrap          { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }


ul,
ol {
  margin-top: 0;
  margin-bottom: 10px; 
  padding:0;
  }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: $line-height; }
