// ==============================================================
// ## Base

//comment at html files 
//    <!-- ===== START :: menu - ahmed elbaz - 3-20-2018 ===== -->
//    <!-- ===== END   :: menu  ===== -->

//== Colors
$body-bg            : #f1f6ff;
$primary-base		: #0d12e5;
$primary-darker	 	: darken($primary-base,5%); 
$primary-light		: #4da6ff;
$secondary-base		: #ffc013; 
// $secondary-darker	: #f4ce3c; 

// =====> general 
$section-bg: #fff;
// $module-bg           :#fff;
// $pagination-bullets-color: #2c9a40;
//$icons-color		: #d3e8bf;
 
$gradient-primary-start:#1645ff;
$gradient-primary-end:#0d12e5;

$menuHover:$secondary-base;

//  ============================================================
$text-color			: #303030; 
$text2-color		: #fff;  

// $link-hover-color : lighten($link-color,10%);

//Links
$link-color : #fff;
$link-hover-color : darken($link-color,10%);
$link-hover-decoration : none ;

//backgrounds
// == yassmin == $dark-bg : $text-color;	



// selection background color
$selection-color : darken($secondary-base,15%);

//== font-families
//
$font-path    : '../../fonts';
$font-numbers : Myriad Pro, Arial, sans-serif;
		  $fa :   "Font Awesome 5 Free"; 
 		  $mdi: 'Material Design Icons';
//== images path
$img-path    : '../../images'; 
//== Typography
//
// Font, line-height, and color for body text, headings, and more.
		   $font-size : 16px !default;
		 $line-height : 1.6 !default;

// Responsive Font
	 $xs-fontsize : 13px !default;
	 $sm-fontsize : 13px !default;
	$mid-fontsize : 14px !default;
  $large-fontsize : $font-size;

//Headings
$headings-font-family : $font-family;
$headings-font-weight : 400;
$headings-line-height : 1.5;
	  $headings-color : #000000;

//Headings size
$font-size-h1 : 2.25rem;	// ~36px
$font-size-h2 : 1.875rem;	// ~30px
$font-size-h3 : 1.5rem;		// ~24px
$font-size-h4 : 1.125rem;	// ~18px
$font-size-h5 : 1rem;		// ~16px
$font-size-h6 : 0.75rem;	// ~12px


$gutterWidth : 30;


// ==============================================================
// ## Reusable Components

 

//== Forms
//
//##

 
$f-label-font-size			: 12px;
$f-label-color				: #d7d8dc;
$f-label-margin-bottom		: 15;
$f-required-color			: #bd1a2f;
$f-required-size			: 18px;
$f-control-bg				: transparent;
$f-control-txt-color		: #363636;
$f-control-border-color		: transparent;
$f-control-hover-color		: transparent;
$f-control-box-shadow		: none;
$f-control-border-width		: 0;
$f-control-border-radius	: 0;
$f-control-padding			: 0;
$f-control-shadow			: none;
$f-error: #ea4646;


// 
$input-placeholder-color : #d1d1d1;

//== Tables
//
//##

 

$table-border-color		:#cbd0d5;
$table-header-color		:#fff;
$table-txt-color		:#646464;
$table-txt-padding		:15px 20px;

$table-pager-bg			:#e4e4e4;
$table-pager-hover-bg	:#c9c9c9;
$table-pager-color		:#2a2a2a;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs:                  320px !default;//320px !default;

// Small screen / tablet
$screen-sm:                  768px !default;

// Medium screen / desktop
$screen-md:                  992px !default;

// Large screen / desktop
$screen-lg:                  1200px !default;

// Large screen / wide 
$screen-wd:					1600px !default;


//== Breadcrumb
//
//##

			$breadCrumb-bg : transparent;
	$breadcrumb-link-color : rgba(255, 255, 255, 0.73);
 $breadcrumb-current-color : #fff;



$subsiteHeader-bg		: #f8f9f9;


//== Page title
//
//##

$page-title-bg				:$breadCrumb-bg	;
$page-title-border-color	: #e9e9e9;
$page-title-color			: #565a5e;







// ##
$youtubeClr			: #bf232b;
$twitterClr			: #2aaae0;
$facebookClr		: #3a589b;
$whatsappClr		: #0dc143;
$instagramGradient	: linear-gradient( 40deg, rgb(249,237,50) 0%, rgb(238,42,123) 69%, rgb(0,42,255) 100%);


