.l-homePage {
    .l-content {
        overflow: hidden;
        position: relative;
        @include clearfix;
    }
    .l-fastSearchAndGallaery {
        position: relative;
        @include clearfix;
        @include breakpoint(small){
            height: 700px; // overflow: hidden;
        }
    }
    .l-fastSearch {
        
        position: relative;
        @include breakpoint(small) {
            width: 50%;
            float: left;
        }
        @include breakpoint(mid) {
            width: 35%; 
        }
    }
    .l-sampleGalley {
        background-color: $section-bg;
        position: relative;
        padding: 15px;
        @include breakpoint(small) {
            width: 50%;
            float: left;
            border-top-left-radius: 5px;
            margin-top: -215px;
            &:before {
                content: "";
                display: block;
                background-color: $section-bg;
                width: 426px;
                height: 100%;
                left: calc(100% - 1px);
                top: 0;
                position: absolute;
            }
        }
        @include breakpoint(mid) {
            width: 65%; 
            height: 890px;
            padding: rem(70) rem(55) rem(35) rem(100);
            
            
            
        }
    }
}